body {
    font-family: 'Oswald', sans-serif;
    background-color: #e3ecca;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* layout */

.row {
    display: inline-block;
    margin: 2em;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 600;

}

.container {
    background-color: #ffffff;
    width: 75%;
    margin: 0 auto;
    padding: 0.7em;
    border-radius: 20px;
}

.bottom {
    width: inherit;
    margin: 0 auto;
}

/* rules modal */

#modal {
    background-color: #e3ecca;
    width: 50%;
    height: 25%;
    border-radius: 5px;
    padding: 10px;
    display: block;
}

#modal ol {
    text-align: left;
}


/* typography */

h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#player {
    background-color: #1bbe8d;
    color: #fff;
    padding: 4px 25px; 
    border-radius: 4px;
}

#p1Score, #p2Score {
    color: #1bbe8d;
}


/* dice design */

.dice {
    width: 100px;
    height: 100px;
    border: 1px solid #999;
    background-color: #1bbe8d;
    color: #fff;
    font-size: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.dice p {
    margin-top: 18px;
}

.dice-btn {
    background-color: #fff;
    padding: 10px;
    border: unset;
    border-radius: 10px;
}
/* button design */

.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 25px;
    border: unset;
    border-radius: 4px;
    background-color: #e3ecca;
    margin: 5px;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #1bbe8d;
    color: #fff;
}

#reset {
    display: none; /*hide this button at the start */
}